.dashboard-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 120px;
}

.chart {
  max-height: 30vh;
  fill: #fff;
}

.summary table {
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .dashboard-content {
    flex-flow: row wrap;
    gap: 10px;

    .chart {
      width: 75%;
      max-height: 65vh;
    }

    .summary {
      width: calc(25% - 10px);
    }
  }
}
